Cellar
aclocal.m4
Makefile.in
Makefile
configure
config.log
config.cache
config.status
config.guess
config.sub
stamp-h.in
depcomp
config.h
config.h.in
stamp-h
missing
mkinstalldirs
install-sh
stamp-h
stamp-h.in
ltmain.sh
ltconfig
*.tar.gz
libtool
*.spec
.deps
*.lo
.libs
*.la
*.o
stamp-h1
autom4te.cache
libtrurl.a
*~
compile
*.pc
test-driver
*.log
